/* Slider.css */
/* .slider_area {
    position: relative;
    overflow: hidden;
}

.single_slider {
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_content {
    text-align: center;
    color: #fff;
}

.slider_content p,
.slider_content h1,
.slider_content span,
.slider_content .slider_price,
.slider_content .button {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6200;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #ff8a00;
} */
